<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="NavBar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">useitjs</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right" ng-controller="LoginController">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{userInfo.login}} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                <li><a href="#"><i class="fa fa-pencil"></i> Design</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="doLogout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="Summaries" >
                    <ul class="nav nav-second-level">
                        <li ng-repeat="v in viewList.rows">
                            <a href="/#/do/{{v.id}}?p=1">{{v.title}}</a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group heading="Design" >
                    <ul class="nav nav-second-level">
                        <li ><a href="/#/do/forms?p=1">Forms</a></li>
                        <li ><a href="/#/do/views?p=1">Views</a></li>
                        <li ><a href="/#/do/types?p=1">Types</a></li>
                    </ul>
                </uib-accordion-group>                
            </uib-accordion>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>