<!-- NOT USED TODAY
<fieldset>
	<div ng-repeat="(fname, field) in fields">
		<div class="control-group">
			<label class="control-label" for="{{field.id}}">{{field.label}}</label>
			<div class="controls" ng-switch="field.type">
				<div ng-switch-when="text">
					<input 
							type="text" 
							class="input-xlarge" 
							id="{{field.id}}" 
							name="{{field.name}}" 
							ng-model="data[field.id]" />
				</div>
				<div ng-switch-when="number">
					<input
							type="number" 
							class="input-xlarge" 
							id="{{field.id}}" 
							name="{{field.name}}" 
							ng-model="data[field.id]" />
				</div>
			</div>
		</div>
	</div>
</fieldset>
-->