/* app css stylesheet */

.auto-height {
  height: auto;
}

.bs-callout {
	padding: 10px 0 0 0;
	margin: 10px 0 10px -5px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-info {
	border-left-color: #5bc0de;
}

/*.multi-label {
	display: block;
	float: none;
}*/

.multi-control > span {
	font-size: 24px;
}

.code-control .form-control {
	height: auto;
}

.code-control .CodeMirror {
	height: 78px;	
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}

	.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}

	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

tags-input.form-control {
	padding: 0;
	height: auto;
}

tags-input .tags {
	border: none;
	box-shadow: none;
	background-color: transparent;
}

tags-input .host {
	margin: 0;
}

.multi-container-element {
	border: 1px solid #AAA;
	border-radius: 5px;	
}

.multi-title {
	font-size: 1.1em;
	font-weight: bold;
}

.multi-container {
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 5px;
}

/* login dialog */
#login-holder {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1001;
}

#loginbox {

	border: 1px solid #999;
	border-radius: 6px;
	margin: auto;
	margin-top: 5%;
	width: 60%;
	background-color: white;
	padding: 10px;
}


/*********** FORM *****************/

/****** properties **********/
.design-prop {
	float: right;
}


.prop-container {
    
}

.prop-container .control-label {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-weight: normal;
    border: 1px solid white;
    background-color: lightgray;    
    margin: 0;
    height: auto;
    padding: 0;
    margin: 0;    
}

.prop-container .controls {
    display: inline;
}

.prop-container .controls input {
    display: inline;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 0px;
    box-shadow: none;
    margin: 0;
    height: auto;
    padding: 0;
    margin: 0;
}

/************* ui controls ****************/

.uiRadio input[type=radio] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: 3px;
}