<div id="ua-fields-{{field.id}}" class="field-container">
	<div ng-repeat="field in fields" designmode="designmode">
		<div ng-if="designmode" class="design-prop">
			<i class="fa fa-trash" ng-click="onDesignTrashClick($index, $event)"></i>
			<i class="fa fa-product-hunt" ng-click="onDesignPropClick($index, $event)"></i>
			<i class="fa fa-arrows"></i>
		</div>	
		<div class="fieldElement" bind-field="field" designmode="designmode"></div>
	</div>
	<div ng-if="designmode">
		<select ng-model="dataField.type">
			<option value="text">text</option>
			<option value="number">number</option>
			<option value="boolean">boolean</option>
			<option value="tagfield">tagfield</option>
			<option value="multi">multi</option>
			<option value="fields">fields</option>
		</select>
		<button ng-click="addField()">Add</button>
	</div>
</div>